.settings {
    display: block;
}

.settings__option {
    border-bottom: 1px solid var(--bg2);
    padding: 8px;
    color: var(--color2);
    display: block;
    width: 100%;
}

.settings__option:hover {
    color: var(--color1);
}

.settings__logout {
    cursor: pointer;
    color: var(--error);
}

.settings__logout:hover {
    color: var(--error);
}